

QPushButton{
  color : [colors.text_normal];
  outline : none;
  padding : 0px;
  margin : 0px;
  background :  [colors.widget_base];
  border-style: solid;
  border-width: 3px;
  border-color : red;
}