

* {
  outline : none;
  color : [colors.text_normal];
}

QFrame#Number{
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-color: rgba(255,255,255,25);
  border-radius: 3px;
}
/*
  border-top-color: [brightness(colors.widget_base, 0.95)];
  border-left-color: [brightness(colors.widget_base, 0.95)];
  border-right-color: [brightness(colors.widget_base, 0.15)];
  border-bottom-color: [brightness(colors.widget_base, 0.15)];
}*/

QPushButton{
  height : 26px;
  background : [colors.widget_base];
  color : [colors.text_normal];
  font-size : 13px;
  font-weight : 400;
  outline : none;
  padding : 0px;
  margin : 0px;
  border-style: solid;
  border-radius: [borders.radius];
  border-width: [borders.width];
  border-color: [brightness(colors.widget_base, -0.5)];
  border-top-color: [brightness(colors.widget_base, 0.2)];
}
QPushButton:hover{
  color : [brightness(colors.text_normal,0.1)];
  background :  [brightness(colors.widget_base, 0.15)];
}
QPushButton:pressed{
  color : [colors.text_normal];
  background :  [brightness(colors.widget_base, -0.25)];
  border-color: [brightness(colors.background, 0.1)];
  padding-top : 1px;
  padding-left : 1px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
EnumButton{
  height : 26px;
  background : [colors.widget_base];
  color : [colors.text_normal];
  font-size : 13px;
  font-weight : 400;
  outline : none;
  padding : 0px;
  margin : 0px;
  border-style: solid;
  border-radius: [borders.radius];
  border-width: [borders.width];
  border-top-width: 0px;
  border-color: [brightness(colors.widget_base, -0.7)];
  border-bottom-color: [brightness(colors.widget_base, 0.2)];
}
EnumButton:checked{
  background : [colors.highlight];
  color : [brightness(colors.text_normal, 0.1)];
  border-bottom-width: 0px;
  border-color: [brightness(colors.widget_base, -0.7)];
  border-top-color: [brightness(colors.widget_base, 0.2)];
  padding : 0px;
}
EnumButton:checked:hover{
  background : [brightness(colors.highlight, 0.1)];
  color : [brightness(colors.text_normal, 0.15)];
  padding : 0px;
}

WidgetButton{
  background: transparent;
  border: none;
  padding : 0px;
  margin : 0px;
}
WidgetButton:hover{
  background :  [brightness(colors.widget_base, 0.25)];
}
WidgetButton:pressed{
  color : [colors.text_normal];
  background :  [brightness(colors.widget_base, -0.15)];
  border-color: [brightness(colors.background, 0.1)];
  padding-top : 1px;
  padding-left : 1px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}
WidgetButton:checked  {
  background : [colors.highlight];
}
ColorButton {
  height : 26px;
}

IconButton, IconButton:hover, IconButton:pressed, IconButton:checked{
  background : transparent;
  outline : none;
  padding : 0px;
  margin : 0px;
  border : none;
}

/* String Fields
QFrame#String {
  background: [brightness(colors.widget_base, 0.04)];
  border-style: solid;
  border-radius: [borders.radius*ui_scale]px;
  border-width: [borders.width*ui_scale]px;
  border-color: [brightness(colors.widget_base, 0.3)];
}
QFrame#String:focus {
  background: [brightness(colors.widget_base, 0.05)];
  border-color: [brightness(colors.widget_bright, 0.3)];
}
*/

QLabel {
  font-size : 14px;
  color : [colors.text_normal];
}

QLineEdit {
  color : [colors.text_normal];
  background: [brightness(colors.widget_base, -0.04)];
  selection-background-color : [colors.select_text_bg];
  height : 26px;
  font-size : 13px;
  font-weight : 400;
  padding-left: 4px;
  border-style: solid;
  border-radius: [borders.radius];
  border-width: [borders.width];
  border-color: [brightness(colors.widget_base, -0.3)];
}
QLineEdit:focus{
  background: [brightness(colors.widget_base, 0.05)];
  border-color: [brightness(colors.widget_bright, 0.3)];
}

QTextEdit{
  font-size : 18px;
	background-color: white;
	color: red;
  border: none;
  selection-background-color : [colors.select_text_bg];
  selection-color : [colors.select_text_bg];
}

QPlainTextEdit {
  background: [brightness(colors.widget_base, -0.04)];
  selection-background-color : [colors.select_text_bg];
  color : [colors.text_normal];
  font-size : 13px;
  font-weight : 400;
  padding : 3px;
  border-style: solid;
  border-radius: [borders.radius];
  border-width: [borders.width];
  border-color: [brightness(colors.widget_base, -0.3)];
}
QPlainTextEdit:focus{
  background: [brightness(colors.widget_base ,0.05)];
  border-color: [brightness(colors.widget_bright, 0.3)];
}

QTableWidget {
  color : [colors.text_normal];
  background : [colors.widget_dark];
  alternate-background-color: [brightness(colors.widget_dark, 0.15)];
  border: none;
  outline: none;
}
QTableWidget::item{

  border: none;
  outline: none;
  margin-bottom : 1px;
}

QTableWidget::item:hover {
  background-color : [colors.hover];
}
QTableWidget::item:selected {
  background-color : [colors.highlight];
}
QTabWidget::pane {
  border-style : solid;
  outline : none;
}
QTabWidget {
  background :transparent;
}

QSpinBox, QDoubleSpinBox {
  height : 26px;
  background: [brightness(colors.widget_base, -0.04)];
  selection-background-color : [colors.select_text_bg];
  color : [colors.text_normal];
  font-size : 13px;
  font-weight : 400;
  border-style: solid;
  border-width: 1px;
  border-color: [brightness(colors.widget_base, -0.3)];
  border-radius: [borders.radius];
}
QSpinBox:focus, QDoubleSpinBox:focus{
  background: [brightness(colors.widget_base, 0.05)];
  border-color: [brightness(colors.widget_bright, 0.3)];
}

QTabBar {
  outline : none;
  background :transparent;
  font-size: 14px;
  font-weight: 500;
}
QTabBar::tab {
  outline : none;
  color : [brightness(colors.text_normal, -0.15)];
  background-color : [brightness(colors.widget_dark, -0.1)];
  border-top-left-radius: [borders.radius]px;
  border-top-right-radius: [borders.radius]px;
  border-style : solid;
  border-radius : 0px;
  border-top-left-radius : [borders.radius]px;
  border-top-right-radius : [borders.radius]px;
  border-color: [brightness(colors.background, -0.1)];
  border-width : 0px;
  padding : 0.3em 0.3em 0.5em 0.5em;
  margin-top : 2px;
  margin-left : 2px;
}
QTabBar::tab:hover {
  color : [colors.text_normal];
}
QTabBar::tab:selected {
  border-width : 0px;
  border-top-width : 2px;
  border-color: [colors.highlight];
  color : [colors.text_normal];
  background-color : [colors.widget_dark];
}

QCheckBox {
  outline : none;
  color : [colors.text_disabled];
}
QCheckBox:checked {
  color : [brightness(colors.text_normal, 0.1)];
}
QCheckBox::indicator {
    width : 18px;
    height : 17px;
    background : [colors.widget_base];
    border-radius: [borders.radius];
    border-style: solid;
    border-width: [borders.width];
    border-top-color: [brightness(colors.widget_base, 0.25)];
    border-left-color: [brightness(colors.widget_base, 0.25)];
    border-right-color: [brightness(colors.background, -0.15)];
    border-bottom-color: [brightness(colors.background, -0.15)];
}
QCheckBox::indicator:hover {
  background : [brightness(colors.widget_base, 0.1)];;
}
QCheckBox::indicator:checked {
  background : [colors.highlight];
  border-top-color: [brightness(colors.background, -0.15)];
  border-left-color: [brightness(colors.background, -0.15)];
  border-right-color: [brightness(colors.widget_base, 0.25)];
  border-bottom-color: [brightness(colors.widget_base, 0.25)];
}

QFrame#UIList {
  background : [brightness(colors.widget_base, -0.075)];
  border-color: [brightness(colors.widget_base, -0.3)];
  border-style: solid;
  border-width: [borders.width];
  border-left-width : 0px;
  border-radius: [borders.radius];
  border-bottom-left-radius : 0; 
  border-top-left-radius : 0;
}
QListWidget#UIList{
  background : [brightness(colors.widget_dark, -0.1)];
  color : [colors.text_normal];
  alternate-background-color: [brightness(colors.widget_base, -0.1)];
  border-color: [brightness(colors.widget_base, 0)];
  border-style: solid;
  border-radius: [borders.radius];
  border-width: [borders.width];
  border-bottom-right-radius : 0; 
  border-top-right-radius : 0;
  outline: 0;
  padding: 4px;
}
QListWidget#UIList:focus{
  border-color: [brightness(colors.widget_bright, 0.3)];
}
QListWidget#UIList::item{
  background : rgba(255,255,255,10);
  padding: 2px;
  margin : 0px;
  outline: none;
  border : none;
  border-radius: [borders.radius]px;
  height: 21px;
}
QListWidget#UIList::item:hover {
  background : [brightness(colors.widget_base, 0.05)];
  outline: none;
}
QListWidget#UIList::item:selected {
  background : [colors.highlight];
  outline: none;
}

QScrollArea {
  border : none;
  min-height: 26px;
}
QScrollBar {
  background : [brightness(colors.widget_dark, -0.1)];
  border-width : 0px;
}
QScrollBar:vertical {
  width: 16px;
  padding : 2px;
}
QScrollBar:horizontal {
  height: 16px;
  padding : 2px;
}
QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
  background: [colors.widget_base];
  border-radius : 2px;
}
QScrollBar::handle:vertical:hover, QScrollBar::handle:horizontal:hover {
  background : [brightness(colors.widget_base, 0.2)];
}
QScrollBar::add-line:vertical {
  background: none;
  height: 0px;
}
QScrollBar::add-line:horizontal {
  background: none;
  width: 0px;
}
QScrollBar::sub-line:vertical {
  background: none;
  height: 0px;
}
QScrollBar::sub-line:horizontal {
  background: none;
  width: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
  height: 0px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
  width: 0px;
}

QSplitter::handle {
background: [brightness(colors.background, 0.1)];
}

QPlainTextEdit#Console{
border : none;
padding : 0px;
selection-background-color : [colors.widget_base];
}

QProgressBar {
  background-color: [colors.widget_base];
  border: none;
  text-align: center;
  color : [colors.text_normal];
}
QProgressBar::chunk {
  background-color: [colors.highlight];
  width: 20px;
}


*[BorderWidth=px_0]{ border-width : 0px }
*[BorderWidth=px_1]{ border-width : [borders.radius*ui_scale] }
*[BorderWidth=px_2]{ border-width : [(borders.radius+2)*ui_scale] }
*[BorderWidth=px_3]{ border-width : [(borders.radius+3)*ui_scale] }
*[BorderWidth=px_4]{ border-width : [(borders.radius+4)*ui_scale] }

*[LBorderWidth=px_0]{ border-left-width : 0px }
*[RBorderWidth=px_0]{ border-right-width : 0px }
*[TBorderWidth=px_0]{ border-top-width : 0px }
*[BBorderWidth=px_0]{ border-bottom-width : 0px }

*[BorderRadius=px_0]{ border-radius : 0px; border-radius : 0px }
*[BorderRadius=px_1]{ border-radius : [borders.radius*ui_scale]; border-radius : [borders.radius*ui_scale] }
*[BorderRadius=px_2]{ border-radius : [(borders.radius+2)*ui_scale]; border-radius : [(borders.radius+2)*ui_scale] }
*[BorderRadius=px_3]{ border-radius : [(borders.radius+3)*ui_scale]; border-radius : [(borders.radius+3)*ui_scale] }
*[BorderRadius=px_4]{ border-radius : [(borders.radius+4)*ui_scale]; border-radius : [(borders.radius+4)*ui_scale] }
*[BorderRadius=px_6]{ border-radius : [(borders.radius+6)*ui_scale]; border-radius : [(borders.radius+6)*ui_scale] }
*[BorderRadius=px_8]{ border-radius : [(borders.radius+8)*ui_scale]; border-radius : [(borders.radius+8)*ui_scale] }

*[LBorderRadius=px_0]{ border-bottom-left-radius : 0px; border-top-left-radius : 0px }
*[RBorderRadius=px_0]{ border-bottom-right-radius : 0px; border-top-right-radius : 0px }
*[TBorderRadius=px_0]{ border-top-right-radius : 0px; border-top-left-radius : 0px }
*[BBorderRadius=px_0]{ border-bottom-right-radius : 0px; border-bottom-left-radius : 0px }

*[TPadding=px_n2]{ padding-top : [ui_scale*-2]px }
*[TPadding=px_n1]{ padding-top : [ui_scale*-1]px }
*[TPadding=px_1]{ padding-top : [ui_scale*1]px }
*[TPadding=px_2]{ padding-top : [ui_scale*2]px }
*[TPadding=px_4]{ padding-top : [ui_scale*4]px }
*[TPadding=px_8]{ padding-top : [ui_scale*8]px }
*[TPadding=px_12]{ padding-top : [ui_scale*12]px }
*[TPadding=px_16]{ padding-top : [ui_scale*16]px }
*[TPadding=px_20]{ padding-top : [ui_scale*20]px }
*[TPadding=px_24]{ padding-top : [ui_scale*24]px }

*[BPadding=px_n2]{ padding-bottom : [ui_scale*-2]px }
*[BPadding=px_n1]{ padding-bottom : [ui_scale*-1]px }
*[BPadding=px_1]{ padding-bottom : [ui_scale*1]px }
*[BPadding=px_2]{ padding-bottom : [ui_scale*2]px }
*[BPadding=px_4]{ padding-bottom : [ui_scale*4]px }
*[BPadding=px_8]{ padding-bottom : [ui_scale*8]px }
*[BPadding=px_12]{ padding-bottom : [ui_scale*12]px }
*[BPadding=px_16]{ padding-bottom : [ui_scale*16]px }
*[BPadding=px_20]{ padding-bottom : [ui_scale*20]px }
*[BPadding=px_24]{ padding-bottom : [ui_scale*24]px }

*[LPadding=px_n2]{ padding-left : [ui_scale*-2]px }
*[LPadding=px_n1]{ padding-left : [ui_scale*-1]px }
*[LPadding=px_1]{ padding-left : [ui_scale*1]px }
*[LPadding=px_2]{ padding-left : [ui_scale*2]px }
*[LPadding=px_4]{ padding-left : [ui_scale*4]px }
*[LPadding=px_8]{ padding-left : [ui_scale*8]px }
*[LPadding=px_12]{ padding-left : [ui_scale*12]px }
*[LPadding=px_16]{ padding-left : [ui_scale*16]px }
*[LPadding=px_20]{ padding-left : [ui_scale*20]px }
*[LPadding=px_24]{ padding-left : [ui_scale*24]px }

*[RPadding=px_n2]{ padding-right : [ui_scale*-2]px }
*[RPadding=px_n1]{ padding-right : [ui_scale*-1]px }
*[RPadding=px_1]{ padding-right : [ui_scale*1]px }
*[RPadding=px_2]{ padding-right : [ui_scale*2]px }
*[RPadding=px_4]{ padding-right : [ui_scale*4]px }
*[RPadding=px_8]{ padding-right : [ui_scale*8]px }
*[RPadding=px_12]{ padding-right : [ui_scale*12]px }
*[RPadding=px_16]{ padding-right : [ui_scale*16]px }
*[RPadding=px_20]{ padding-right : [ui_scale*20]px }
*[RPadding=px_24]{ padding-right : [ui_scale*24]px }

*[TMargin=px_n2]{ margin-top : [ui_scale*-2]px }
*[TMargin=px_n1]{ margin-top : [ui_scale*-1]px }
*[TMargin=px_1]{ margin-top : [ui_scale*1]px }
*[TMargin=px_2]{ margin-top : [ui_scale*2]px }
*[TMargin=px_4]{ margin-top : [ui_scale*4]px }
*[TMargin=px_8]{ margin-top : [ui_scale*8]px }
*[TMargin=px_12]{ margin-top : [ui_scale*12]px }
*[TMargin=px_16]{ margin-top : [ui_scale*16]px }
*[TMargin=px_20]{ margin-top : [ui_scale*20]px }

*[BMargin=px_n2]{ margin-bottom : [ui_scale*-2]px }
*[BMargin=px_n1]{ margin-bottom : [ui_scale*-1]px }
*[BMargin=px_1]{ margin-bottom : [ui_scale*1]px }
*[BMargin=px_2]{ margin-bottom : [ui_scale*2]px }
*[BMargin=px_4]{ margin-bottom : [ui_scale*4]px }
*[BMargin=px_8]{ margin-bottom : [ui_scale*8]px }
*[BMargin=px_12]{ margin-bottom : [ui_scale*12]px }
*[BMargin=px_16]{ margin-bottom : [ui_scale*16]px }
*[BMargin=px_20]{ margin-bottom : [ui_scale*20]px }

*[LMargin=px_n2]{ margin-left : [ui_scale*-2]px }
*[LMargin=px_n1]{ margin-left : [ui_scale*-1]px }
*[LMargin=px_1]{ margin-left : [ui_scale*1]px }
*[LMargin=px_2]{ margin-left : [ui_scale*2]px }
*[LMargin=px_4]{ margin-left : [ui_scale*4]px }
*[LMargin=px_8]{ margin-left : [ui_scale*8]px }
*[LMargin=px_12]{ margin-left : [ui_scale*12]px }
*[LMargin=px_16]{ margin-left : [ui_scale*16]px }
*[LMargin=px_20]{ margin-left : [ui_scale*20]px }

*[RMargin=px_n2]{ margin-right : [ui_scale*-2]px }
*[RMargin=px_n1]{ margin-right : [ui_scale*-1]px }
*[RMargin=px_1]{ margin-right : [ui_scale*1]px }
*[RMargin=px_2]{ margin-right : [ui_scale*2]px }
*[RMargin=px_4]{ margin-right : [ui_scale*4]px }
*[RMargin=px_8]{ margin-right : [ui_scale*8]px }
*[RMargin=px_12]{ margin-right : [ui_scale*12]px }
*[RMargin=px_16]{ margin-right : [ui_scale*16]px }
*[RMargin=px_20]{ margin-right : [ui_scale*20]px }



*[Background=highlight] { background : [colors.background_highlight] }
*[Background=transparent] { background : transparent }
*[Background=very_dark] { background : [colors.background] }
*[Background=dark] { background : [colors.widget_dark] }
*[Background=medium] { background : [brightness(colors.widget_dark, 0.15)] }
*[Background=normal] { background : [colors.widget_base] }
*[Background=bright] { background : [colors.widget_bright] }

*[FontColor=disabled]{ color : [colors.text_disabled]}
*[FontColor=medium]{ color : [brightness(colors.text_normal, -0.1)] }
*[FontColor=normal]{ color : [colors.text_normal] }
*[FontColor=highlight]{ color : [colors.text_highlight] }

*[FontSize=px_9]{ font-size : [int(9*ui_scale)]px }
*[FontSize=px_10]{ font-size : [int(10*ui_scale)]px }
*[FontSize=px_11]{ font-size : [int(11*ui_scale)]px }
*[FontSize=px_12]{ font-size : [int(12*ui_scale)]px  }
*[FontSize=px_13]{ font-size : [int(13*ui_scale)]px  }
*[FontSize=px_14]{ font-size : [int(14*ui_scale)]px }
*[FontSize=px_15]{ font-size : [int(15*ui_scale)]px }
*[FontSize=px_16]{ font-size : [int(16*ui_scale)]px }

*[FontWeight=extra_light]{ font-weight : 300 }
*[FontWeight=light]{ font-weight : 400 }
*[FontWeight=normal]{ font-weight : 500 }
*[FontWeight=semi_bold]{ font-weight : 600 }
*[FontWeight=bold]{ font-weight : 700 }

/*
*[IconSize=px_14]{ qproperty-iconSize : [int(ui_scale*14)]px [int(ui_scale*14)]px}
*[IconSize=px_16]{ qproperty-iconSize : [int(ui_scale*16)]px [int(ui_scale*16)]px}
*[IconSize=px_20]{ qproperty-iconSize : [int(ui_scale*20)]px [int(ui_scale*20)]px}
*[IconSize=px_24]{ qproperty-iconSize : [int(ui_scale*24)]px [int(ui_scale*24)]px}
*[IconSize=px_28]{ qproperty-iconSize : [int(ui_scale*28)]px [int(ui_scale*28)]px}
*[IconSize=px_32]{ qproperty-iconSize : [int(ui_scale*32)]px [int(ui_scale*32)]px}
*[IconSize=px_64]{ qproperty-iconSize : [int(ui_scale*64)]px [int(ui_scale*64)]px}

*[Width=px_1]{ min-width : [int(1*ui_scale)]px; max-width : [int(1*ui_scale)]px}
*[Width=px_2]{ min-width : [int(2*ui_scale)]px; max-width : [int(2*ui_scale)]px}
*[Width=px_4]{ min-width : [int(4*ui_scale)]px; max-width : [int(4*ui_scale)]px}
*[Width=px_6]{ min-width : [int(6*ui_scale)]px; max-width : [int(6*ui_scale)]px}
*[Width=px_10]{ min-width : [int(10*ui_scale)]px; max-width : [int(10*ui_scale)]px}
*[Width=px_14]{ min-width : [int(14*ui_scale)]px; max-width : [int(14*ui_scale)]px}
*[Width=px_16]{ min-width : [int(16*ui_scale)]px; max-width : [int(16*ui_scale)]px}
*[Width=px_18]{ min-width : [int(18*ui_scale)]px; max-width : [int(18*ui_scale)]px}
*[Width=px_20]{ min-width : [int(20*ui_scale)]px; max-width : [int(20*ui_scale)]px}
*[Width=px_22]{ min-width : [int(22*ui_scale)]px; max-width : [int(22*ui_scale)]px}
*[Width=px_24]{ min-width : [int(24*ui_scale)]px; max-width : [int(24*ui_scale)]px}
*[Width=px_25]{ min-width : [int(25*ui_scale)]px; max-width : [int(25*ui_scale)]px}
*[Width=px_26]{ min-width : [int(26*ui_scale)]px; max-width : [int(26*ui_scale)]px}
*[Width=px_30]{ min-width : [int(30*ui_scale)]px; max-width : [int(30*ui_scale)]px}
*[Width=px_32]{ min-width : [int(32*ui_scale)]px; max-width : [int(32*ui_scale)]px}
*[Width=px_34]{ min-width : [int(34*ui_scale)]px; max-width : [int(34*ui_scale)]px}
*[Width=px_40]{ min-width : [int(40*ui_scale)]px; max-width : [int(40*ui_scale)]px}
*[Width=px_48]{ min-width : [int(48*ui_scale)]px; max-width : [int(48*ui_scale)]px}
*[Width=px_56]{ min-width : [int(56*ui_scale)]px; max-width : [int(56*ui_scale)]px}
*[Width=px_64]{ min-width : [int(64*ui_scale)]px; max-width : [int(64*ui_scale)]px}
*[Width=px_128]{ min-width : [int(128*ui_scale)]px; max-width : [int(128*ui_scale)]px}
*[Width=px_256]{ min-width : [int(256*ui_scale)]px; max-width : [int(256*ui_scale)]px}
*[Width=px_1024]{ min-width : [int(1024*ui_scale)]px; max-width : [int(1024*ui_scale)]px}

*[Height=px_1]{ min-height : [int(1*ui_scale)]px; max-height : [int(1*ui_scale)]px}
*[Height=px_2]{ min-height : [int(2*ui_scale)]px; max-height : [int(2*ui_scale)]px}
*[Height=px_4]{ min-height : [int(4*ui_scale)]px; max-height : [int(4*ui_scale)]px}
*[Height=px_6]{ min-height : [int(6*ui_scale)]px; max-height : [int(6*ui_scale)]px}
*[Height=px_10]{ min-height : [int(10*ui_scale)]px; max-height : [int(10*ui_scale)]px}
*[Height=px_14]{ min-height : [int(14*ui_scale)]px; max-height : [int(14*ui_scale)]px}
*[Height=px_16]{ min-height : [int(16*ui_scale)]px; max-height : [int(16*ui_scale)]px}
*[Height=px_18]{ min-height : [int(18*ui_scale)]px; max-height : [int(18*ui_scale)]px}
*[Height=px_20]{ min-height : [int(20*ui_scale)]px; max-height : [int(20*ui_scale)]px}
*[Height=px_22]{ min-height : [int(22*ui_scale)]px; max-height : [int(22*ui_scale)]px}
*[Height=px_24]{ min-height : [int(24*ui_scale)]px; max-height : [int(24*ui_scale)]px}
*[Height=px_25]{ min-height : [int(25*ui_scale)]px; max-height : [int(25*ui_scale)]px}
*[Height=px_26]{ min-height : [int(26*ui_scale)]px; max-height : [int(26*ui_scale)]px}
*[Height=px_30]{ min-height : [int(30*ui_scale)]px; max-height : [int(30*ui_scale)]px}
*[Height=px_32]{ min-height : [int(32*ui_scale)]px; max-height : [int(32*ui_scale)]px}
*[Height=px_34]{ min-height : [int(34*ui_scale)]px; max-height : [int(34*ui_scale)]px}
*[Height=px_40]{ min-height : [int(40*ui_scale)]px; max-height : [int(40*ui_scale)]px}
*[Height=px_48]{ min-height : [int(48*ui_scale)]px; max-height : [int(48*ui_scale)]px}
*[Height=px_56]{ min-height : [int(56*ui_scale)]px; max-height : [int(56*ui_scale)]px}
*[Height=px_64]{ min-height : [int(64*ui_scale)]px; max-height : [int(64*ui_scale)]px}
*[Height=px_128]{ min-height : [int(128*ui_scale)]px; max-height : [int(128*ui_scale)]px}
*[Height=px_256]{ min-height : [int(256*ui_scale)]px; max-height : [int(256*ui_scale)]px}
*[Height=px_1024]{ min-height : [int(1024*ui_scale)]px; max-height : [int(1024*ui_scale)]px}

*/